.move{
    animation-name: move;
    animation-duration: 16s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

.stroke{
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: white;
}

@keyframes move {
    0% {
      transform: translateX(0);
    }
  
    100% {
      transform: translateX(-100%);
    }
  }

