* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
  width: 100%;
  font-family: "Poppins", sans-serif;
  background: #1e1e1e;
}

.main {
  width: 100%;
  
  display: flex;
  flex-direction: column;
  gap:40vh; 
  padding: 50px 0;
}

.card {
  width: 320px;
  height: 420px;
  margin: auto;
  padding: 20px;
  background: #6f4e37;
  border-radius: 16px;
  text-align: center;
  color: #f1e7dd; 
  box-shadow: 0px 8px 25px rgba(0, 0, 0, 0.5);

  position: sticky;
  top: 15vh; 
}

.card h1 {
  font-size: 24px;
  margin: 15px 0;
  color: #f5deb3; 
}

.card p {
  font-size: 15px;
  line-height: 1.6;
  color: #fff9f0;
}

.img {
  height: 55%;
  display: flex;
  align-items: center;
  justify-content: center;
}

img {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
}
