* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
}

body {
  background-color: black;
  color: white;
  font-family: monospace;
}

.box {
  width: 200px;
  height: 200px;
  border: 2px solid white;
  background-color: crimson;
}

button {
  margin-top: 10px;
  padding: 10px 20px;
  background-color: green;
  border-radius: 12px;
  color: white;
  font-weight: bold;
  border: none;
  outline: none;

}

button:hover {
  cursor: pointer;
}

h1 {
  padding: 30px 40px;
  text-align: center;
  font-size: 50px
}

p {
  padding: 30px 40px;
  text-align: center;
  font-size: 20px
}
.progressBar{
  transform-origin:left;
  width: 100%;
  height: 6px;
  background-color: orange;
  position: fixed;
  top: 0;
  left: 0;
}
