*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #040508;
    color: rgb(234, 234, 234);
}

main{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    
}

.head{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    width: fit-content;
}